@import
url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css);

html, body  {
        height:90vh;
}

body {
	font-family: system-ui, serif;
	display: grid;
	place-items: center;
	background: white;
	overflow: auto; 
}

.socialbar ul   {
    list-style-type: none;
}

.socialbar li   {
    float: left;
    padding-left: 0.5em;
    padding-right: 5em;

}

.socialbar li a {
    transition: 0.2;    
    position: relative;
}

.socialbar li a:hover    {
    top: -0.2vh;
}

@keyframes float    {
    from    {
        top: -0.5vw
    }
    to  {
        top: 0.5vw
    }
}

div h1    {
    animation-duration: 3s;
    animation-name: float;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
